* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    background: linear-gradient(to bottom right, rgba(26, 25, 25), red);
}

.container {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button {
    cursor: pointer;
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    box-shadow: inset 6px 6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, .6);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: 10px; 
    /* /* border: 2px solid green;* */
}

.container > button:hover {
    background: black;
    color: bisque;
}

.span-two {
    width: 150px;
    border-radius: 42px;
}

.output {
    grid-column: 1 /-1;
    background: black;
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    
}

.previous-output {
    color: rgba(255, 255, 255, .7);
    font-size: 1.5rem;
}

.current-output {
    color: rgba(255, 255, 255, .7);
    font-size: 2.5rem;
}